<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.lql.testdemo">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"

        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.GildeActivity"
            android:label="@string/title_activity_gilde"  >
        </activity>
        <activity
            android:name=".ui.HotwordsActivity"
            android:label="@string/title_activity_hotwords" >
        </activity>
        <activity
            android:name=".ui.SeekbarActivity"
            android:label="@string/title_activity_seekbar"  >
        </activity>
        <activity
            android:name=".ui.SweetAlertDialogActivity"
            android:label="@string/title_activity_sweetalertdialog"  >
        </activity>
        <activity
            android:name=".ui.ShimmerlayoutActivity"
            android:label="@string/title_activity_shimmerlayout"  >
        </activity>
        <activity
            android:name=".ui.BigPicActivity"
            android:label="@string/title_activity_shimmerlayout"  >
        </activity>
        <activity
            android:name=".ui.PhotoDetailActivity"
            android:label="@string/title_activity_photo_detail"  >
        </activity>
    </application>

</manifest>