<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.lql.testdemo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!--开机广播-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>


    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme">

        <!--友盟技术统计-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59828c615312ddb7b7000393"></meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng"></meta-data>


        <receiver android:name=".utils.TimingUtils.AlarmReceiver"></receiver>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.GildeActivity"
            android:label="@string/title_activity_gilde">
        </activity>
        <activity
            android:name=".ui.activity.HotwordsActivity"
            android:label="@string/title_activity_hotwords">
        </activity>
        <activity
            android:name=".ui.activity.SeekbarActivity"
            android:label="@string/title_activity_seekbar">
        </activity>
        <activity
            android:name=".ui.activity.SweetAlertDialogActivity"
            android:label="@string/title_activity_sweetalertdialog">
        </activity>
        <activity
            android:name=".ui.activity.ShimmerlayoutActivity"
            android:label="@string/title_activity_shimmerlayout">
        </activity>
        <activity
            android:name=".ui.activity.BigPicActivity"
            android:label="@string/title_activity_bigpic"
            android:theme="@style/AppTheme.NoActionBar1">
        </activity>

        <activity
            android:name=".ui.activity.PhotoDetailActivity"
            android:label="@string/title_activity_photo_detail"
            android:theme="@style/AppTheme.NoActionBar1">

        </activity>

        <activity
            android:name=".ui.activity.SideslipActivity"
            android:label="@string/title_activity_sideslip">
        </activity>
        <activity
            android:name=".ui.activity.CoordinatorLayoutActivity"
            android:label="@string/title_activity_CoordinatorLayout"
            android:theme="@style/coordinator_emma_immerse">
        </activity>
        <activity
            android:name=".ui.activity.VideoListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_VideoList"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.RecyclerviewCardGalleryActivity"
            android:label="@string/title_activity_RecyclerviewCardGallery"
            >
        </activity>
        <activity
            android:name=".ui.activity.FloatingactionButtonActivity"
            android:label="@string/title_activity_FloatingactionButtonActivity"
            >
        </activity>
        <activity
            android:name=".ui.activity.TimingActivity"
            android:label="@string/title_activity_TimingActivity"
            android:theme="@style/coordinator_emma_immerse"
            >
        </activity>

        <activity
            android:name=".ui.activity.TimingListActivity"
            android:label="@string/title_activity_TimingListActivity"
            >
        </activity>


        <activity
            android:name=".ui.activity.ClockAlarmActivity"
            android:label="@string/title_activity_ClockAlarmActivity"
            >
        </activity>

        <activity
            android:name=".ui.activity.BilibiliActivity"
            android:label="@string/title_activity_ClockAlarmActivity"
            android:theme="@style/AppTheme.BilibiliNoActionBar1"
            >
        </activity>

        <activity
            android:name=".ui.activity.RxJavaActivity"
            android:label="@string/title_activity_RxJavaActivity"
            >
        </activity>

        <activity
            android:name=".ui.activity.RetrofitActivity"
            android:label="@string/title_activity_RetrofitActivity"
            >
        </activity>

    </application>

</manifest>